[defaults]
# path to hosts
inventory = inventory/hosts.yml 
# disable ssh fingerprint
host_key_checking = False
# disable cache from bad-playbooks
retry_files_enabled = False
# auto-search python on EVE-NG
interpreter_python = auto_silent
# to launch any playbooks from Lab2 
roles_path = ./a/roles:./b/roles:./c/roles

# for slow router
[persistent_connection]
# 60 second to SSH-connection
timeout = 60
# time for waiting to complete command
command_timeout = 120
